/* .\5 {
	background-color: red;
} */
.priority-1 {
	background-color: green;
}

.priority-2 {
	background-color: yellow;
}

.priority-3 {
	background-color: orange;
}

.priority-4 {
	background-color: orange;
}

.priority-5 {
	background-color: red;
}
