body {
	text-align: center;
}

nav {
	background-color: aqua;
	width: 100vw;
}

.todo {
	padding: 10px;
	border: 5px solid #210229;
	border-radius: 30px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
	width: 500px;
}

.grid-container {
	display: grid;
	height: 100%;
	align-items: center;
	/* margin-left: 25%; */
	/* grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr; */
	/* grid-template: 1fr / 1fr; */
	grid-row-gap: 10px;
}

button {
	display: block;
	margin: 15px;
}

.createButton {
	margin: 0 auto;
}

/* button {
	box-shadow: 3px 4px 0px 0px #210229;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: #ededed;
	border-radius: 15px;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: #210229;
	font-family: Arial;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #e1e2ed;
}
button:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color: #bab1ba;
}
button:active {
	position: relative;
	top: 1px;
} */

button,
.submitButton {
	display: inline-block;
	padding: 0.5em 3em;
	border: 0.16em solid #210229;
	margin: 0 0.3em 0.3em 0;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #210229;
	text-align: center;
	transition: all 0.15s;
	width: 114px;
}

button:hover,
.submitButton:hover {
	color: #210229;
	border-color: #dddddd;
}

button:active,
.submitButton:hover {
	color: #bbbbbb;
	border-color: #bbbbbb;
}

@media all and (max-width: 30em) {
	 button,
	.submitButton {
		display: block;
		margin: 0.4em auto;
	}
}
