body {
	text-align: center;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	font-family: 'Quicksand', sans-serif;
	/* font-family: 'Alata', sans-serif; */
}

/* .masterDiv nav {
	padding: 18px var(--padding) 15px var(--padding);
	display: flex;
	align-content: center;
	justify-content: space-between;
	background-color: var(--mainBgColor);
} */

.highlighted {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	background-color: rgba(148, 187, 233, 1);
	padding: 25px;
}

nav {
	color: white;
	display: flex;
	justify-content: space-between;
	align-content: center;
	background: navy;
	width: 100vw;
	height: 75px;
	margin-bottom: 30px;
	font-weight: 700;
	/* font-family: 'Abril Fatface', cursive; */
}

ul {
	margin: 20px auto;
	font-size: 25px;
	padding: 0;
}

li {
	display: inline;
	cursor: pointer;
	margin: -50px 50px 25px 50px;
}

li:hover {
	font-style: italic;
}

.todo {
	padding: 10px;
	/* border: 2px solid #210229; */
	border-radius: 30px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
	width: 100vw;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.\5 {
	background-color: red;
}

.grid-container {
	display: grid;
	height: 100%;
	align-items: center;

	grid-row-gap: 10px;
}

.closeButton {
	text-decoration: none;
	font-size: 35px;
	margin-left: 85%;
	line-height: 70px;
}

.createButton {
	margin: 0 auto;
}

.modalH1 {
	margin-top: 0;
}

button,
.submitButton {
	border-radius: 5px;
	font-family: 'Quicksand', sans-serif;
	display: inline-block;
	padding: 0.5em;
	border: 0.16em solid #210229;
	margin: 0 0.3em 0.3em 0;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	color: #210229;
	text-align: center;
	transition: all 0.15s;
	width: 114px;
	cursor: pointer;
}

button:hover,
.submitButton:hover {
	color: #210229;
	border-color: #dddddd;
}

button:active,
.submitButton:hover {
	color: #bbbbbb;
	border-color: #bbbbbb;
}

@media all and (max-width: 30em) {
	 button,
	.submitButton {
		display: block;
		margin: 0.4em auto;
	}
}

@media (min-width: 760px) {
	.todo {
		width: 500px;
	}
}
